ZK_CONNECTION=localhost:2181
REDIS_CONNECTION=localhost:6379

CASSANDRA_CLUSTER=localhost
CASSANDRA_PORT=9042
CASSANDRA_USER_PROFILE=userprofile.userprofile

KAFKA_CONNECTION=10.200.0.1:9091,10.200.0.1:9092,10.200.0.3:9093,10.200.0.3:9094

REDIS_HOST=localhost
REDIS_PORT=6379

DATA_PATH=/home/ubuntu/workspace/crawlersys-1.0/data/